*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 58%;
}

@media screen and (min-width: 1024px) {
  html {
    /* 62.5% of 16*/
    font-size: 62.5%;
    height: 100vh;
    background: linear-gradient(to bottom, #509888 130px, #d4dbd9 130px);
  }

  body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
  }
}
.icon {
  cursor: pointer;
}

.icon-primary {
  color: white;
  opacity: 0.9;
}

.icon-green {
  color: green;
}

.icon-sm {
  font-size: 0.1rem;
}

/* Buttons */
/* Notes to self ocss*/
/* Separate Structure(size, position,height,width, margin,padding) and skin(color, font, shadow */
.btn {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border: 0;
  padding: 3px 8px;
  margin: 1px;
  border-radius: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.btn-primary {
  background-color: dodgerblue;
  color: white;
}

.btn-secondary {
  background-color: crimson;
  color: white;
}

.btn-sm {
  font-size: small;
  font-weight: 600;
}

.btn-md {
  font-size: medium;
  font-weight: 700;
}

.btn-lg {
  font-size: large;
  font-weight: 600;
}

/* Ripple Effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
}

.ripple:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}

.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

/* Round Images */
.rd {
  cursor: pointer;
  border-radius: 50%;
}

.rd-sm {
  height: 3.2rem;
  width: 3.2rem;
}

.rd-md {
  height: 4rem;
  width: 4rem;
}

.rd-lg {
  height: 4.8rem;
  width: 4.8rem;
}

/* Group Icon */
.icon-group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.icon-group span {
  cursor: pointer;
  height: 2.7rem;
  width: 2.7rem;
  color: #51585C;
}

/* Card Item */
.list-item {
  display: flex;
  align-items: center;
  min-height: 8rem;
}
.list-item .thumbnail {
  display: flex;
  align-items: center;
  height: 100%;
  flex-basis: 6.5rem;
}
.list-item .thumbnail img {
  height: 4.9rem;
  width: 4.9rem;
  border-radius: 50%;
}
.list-item .content {
  flex-grow: 1;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}
.list-item .content section .title {
  font-size: 1.4rem;
  line-height: 2rem;
}
.list-item .content section .description {
  font-size: 1.1rem;
  line-height: 2rem;
  color: #676767;
}
.list-item .content .right__item {
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #676767;
}
.list-item:hover {
  background-color: #EBEBEB;
}

@media screen and (min-width: 1024px) {
  .list-item {
    min-height: 7.1rem;
  }

  .content {
    border-bottom: 2px solid #F2F2F2;
  }
  .content section .title {
    font-size: 1.7rem;
    line-height: 2.1rem;
  }
  .content section .description {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
}
.sidebar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #509888;
  min-height: 7rem;
}
.sidebar__header .profile_container {
  display: flex;
}
.sidebar__header .profile_container img {
  width: 4.1rem;
  height: 4.1rem;
}

#search__box {
  display: none;
}

#conversation_container {
  display: flex;
  flex: 1;
  padding: 0px 15px 0px 13px;
  flex-direction: column;
  cursor: pointer;
  overflow-y: scroll;
}

@media screen and (min-width: 1024px) {
  #sidebar {
    display: flex;
    min-width: 42rem;
    min-height: inherit;
    flex-direction: column;
    border-right: 2px solid #E5E6E6;
  }

  .sidebar__header {
    background-color: #ededed;
    padding-left: 1.2rem;
    border-bottom: 2px solid #E5E6E6;
  }

  #search__box {
    display: flex;
    flex-basis: 6.5rem;
    background-color: #F6F6F6;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  #search__box span {
    position: absolute;
    left: 28px;
    color: #949494;
  }
  #search__box input {
    width: 90%;
    border: 0;
    text-align: center;
    font-size: 1.5rem;
    height: 60%;
    border-radius: 20px;
  }
  #search__box input:focus {
    border: 0;
    outline: none;
    border-radius: 0;
    width: 100%;
    height: 90%;
    transition: width 0.2s ease-in-out;
  }
}
#chat {
  display: none;
}

@media screen and (min-width: 1024px) {
  #chat {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-repeat: repeat no-repeat;
    background-image: url("https://i.pinimg.com/736x/8c/98/99/8c98994518b575bfd8c949e91d20548b.jpg");
  }
  #chat .header {
    min-height: 7rem;
    background-color: #EDEDED;
    box-shadow: 0px 2px 4px #d4dbd9;
  }
  #chat .content {
    display: flex;
    flex-grow: 1;
    flex-direction: column-reverse;
    padding: 2px 20px;
    color: #363030;
    font-size: 1.5rem;
    overflow-y: scroll;
  }
  #chat .content .message {
    padding: 12px 25px;
    margin-top: 10px;
    border-radius: 4px;
    background-color: #fff;
    align-self: flex-start;
  }
  #chat .content .message .time {
    margin-top: 3px;
    text-align: right;
    font-size: 1rem;
    color: #979FA7;
  }
  #chat .content .self {
    background-color: #DCF7C6;
    align-self: flex-end;
  }
  #chat .content .self .time {
    text-align: left;
  }
  #chat .text__input {
    background-color: #EDEDED;
    flex-basis: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px;
  }
  #chat .text__input #smileIcn {
    flex-basis: 3rem;
    color: #51585C;
  }
  #chat .text__input #mikeIcn {
    flex-basis: 4rem;
    color: #51585C;
  }
  #chat .text__input textarea {
    flex-grow: 1;
    max-width: 92%;
    margin: 12px 0px;
    height: 4.5rem;
    outline: none;
    overflow: hidden;
    border: 0;
    resize: none;
    border-radius: 4px;
    padding: 16px;
    font-size: 2rem;
    align-self: center;
  }
}
#chat__container {
  width: 100%;
  height: 100vh;
  background-color: #f8f9fa;
}

@media screen and (min-width: 1024px) {
  #chat__container {
    display: flex;
    position: fixed;
    top: -30px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 80%;
    height: 90vh;
    border-radius: 4px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    flex-direction: row;
  }
}

/*# sourceMappingURL=main.css.map */
